jupyterlab
matplotlib
numpy
pandas
seaborn
statsmodels
scikit-learn
ipywidgets
plotly
datasets
evaluate
spacy
spacy_langdetect
dash
gunicorn
datetime
pathlib
xgboost
graphviz
streamlit
streamlit-echarts
streamlit_dynamic_filters
wordcloud
bertopic
snorkel
spellchecker
demoji
gensim
pyLDAvis
