jupyterlab
matplotlib
numpy
pandas
seaborn
statsmodels
scikit-learn
pydot
tensorflow-macos
tensorflow-metal
keras
transformers
protobuf
nltk
sentencepiece
ipywidgets
testbook
tensorflow-hub
missingno
plotly
fuzzywuzzy
datasets
evaluate
torch 
torchvision 
torchaudio
spacy
spacy_langdetect
#pyspellchecker
langdetect
textblob
vaderSentiment
dash
gunicorn
datetime
pathlib
xgboost
graphviz
streamlit>=0.65
streamlit-echarts
streamlit_dynamic_filters
wordcloud
bertopic
snorkel
spellchecker
demoji
gensim
pyLDAvis
